# Remote volumes to be used for MinIO Server
MINIO_VOLUMES="http://minio{1...{{ groups['minio_servers'] | length }}}.rshb.ru:9000{{ minio_data_dir }}{1...{{ minio_mounts | length }}}/"

# Set all MinIO server options
MINIO_OPTS="{{ minio_opts }}"

# Set the root username
MINIO_ROOT_USER="{{ minio_root_user }}"

# Set the root password
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"

# Set to the URL of the load balancer for the MinIO deployment
# MINIO_SERVER_URL="https://minio.rshb.ru:9000"

# Standard storage class
MINIO_STORAGE_CLASS_STANDARD="EC:{{ minio_standard_ec_parity_drives }}"

# Reduced redundancy storage class
MINIO_STORAGE_CLASS_RRS="EC:{{ minio_rrs_ec_parity_drives }}"