# Remote volumes to be used for MinIO Server
MINIO_VOLUMES="https://minio{1...{{ groups['minio_servers'] | length }}}.rshb.ru:9000/mnt/minio/disk{1...{{ minio_mounts | length }}}/"

# Set all MinIO server options
MINIO_OPTS="{{ minio_opts }}"

# Set the root username
MINIO_ROOT_USER="{{ minio_root_user }}"

# Set the root password
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"
