# Remote volumes to be used for MinIO Server
MINIO_VOLUMES="{% for volume in minio_volumes %}http://{{ volume }}/mnt/data {% endfor %}"

# Set all MinIO server options
MINIO_OPTS="{{ minio_opts }}"

# Set the root username
MINIO_ROOT_USER="{{ minio_root_user }}"

# Set the root password
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"
